<%=@artist.name%>
<%@artist.songs.each do |a|%>
    <%=a.name%><a href='/songs/<%=a.slug%>'>Link</a>
    <%end%>
    <%@artist.genres.each do |a|%>
        <%=a.name%><a href='/genres/<%=a.slug%>'>Link</a>
        <%end%>
    
    <a href='/artists/<%#=@song.artist.slug%>'>Link</a>